body{

  background-color:#0784aa;

}



* {

  margin: 0;

  padding: 0;

}



body, html {

  font-family: segoe ui;

}

body{

font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* ****************************************************

                        CONTENEDOR

******************************************************/

.container {

  background: url(https://subtlepatterns.com/patterns/ricepaper.png);

  min-height: 100%;

  overflow: auto;

}



/* ENLACES */

a {

  color: #fff;

  cursor: pointer;

  display: block;

  padding: 1rem 1.5rem;

  text-decoration: none;

  transition: background-color .16s ease-in;

}



a:hover {

  background-color: #6c3296;

}



/* **************************************************

        BARRA DE NAVEGACION Y MENU NORMAL

****************************************************/

/* Barra de navegacion (contiene al nav mini menu) */
-menu {

  background-color: #000;

  margin: 2% auto;

  max-width: 1000px;

  width: calc(100%);

  border-radius: 10px;

}



/* Menu */

.navbar-menu .menu {

  display: block;

  text-align: center;
}

.nav-link{
  color:black;
}
.nav-item{
  color:black;
}



/* List items*/

.navbar-menu .menu li {

  display: inline-block;
  

}



/* Cuando se haga hover sobre el item el submenu se activa

 en caso tuviese */

.navbar-menu .menu li:hover > .submenu {

  display: block;

  -webkit-animation-name: showSubMenu;

  -webkit-animation-duration: .4s;

}



/* Submenus*/

.navbar-menu .menu li ul {

  background-color:magenta;

  display: none;

  position: absolute;

}



/* List items de submenus */

.navbar-menu .menu li ul li {

  display: block;

}



.navbar-menu .menu li ul li a:active {

  -webkit-animation-name: hideSubMenu;

  -webkit-animation-duration: .4s;

}



/******************************************************

                        MINI MENU

******************************************************/

/* Mini menu */

.navbar-mini-menu {

  background-color: #f08080;

  display: none;

}



/* Bloque que tiene el boton para desplegar el mini menu */

.navbar-mini-menu .menu-select {

  color:#fff;

  padding: 1rem 1.5rem;

}



/* Span que contiene el icono*/

.navbar-mini-menu .menu-select .btn-select {

  background: url(https://imgur.com/VbcTojM.png) no-repeat;

  cursor: pointer;

  position: absolute;

  height: 30px;

  width: 30px;

  right: 10px;

  top: 10px;

}



/* Lista del mini menu */

.navbar-mini-menu .mini-menu-options {

  display: block;

}



/* Items del mini menu */

.navbar-mini-menu .mini-menu-options li {

  display: block;

}



/* Submenus de los items del mini menu */

.navbar-mini-menu .mini-menu-options li .submenu {

  display: none;

}



.navbar-mini-menu .mini-menu-options li:focus {

  outline: 0;

}



.navbar-mini-menu .mini-menu-options li:focus > .submenu {

  display: block;

  -webkit-animation-name: showSubMenu;

  -webkit-animation-duration: .4s;

}



/* Enlaces del mini menu */

.navbar-mini-menu .mini-menu-options li a {

  display: block;

  padding: 1rem 1.5rem;

}



/* ***************************************************

                      ANIMACIONES

*****************************************************/

@-webkit-keyframes showSubMenu {

    0% {

      transform: scale(0,0);

    }

  100% {

    transform: scale(1,1);

  }

}



@-webkit-keyframes hideSubMenu {

  0% {

    transform: scale(1,1);

  }

  100% {

    transform: scale(0,0);

  }

}



/*****************************************************                       MEDIAQUERIES

*****************************************************/

@media screen and (max-width: 750px) {

  /* Elimina los margenes al nav */

  .navbar-menu {

    margin: 0;

  }

 

  /* Esconde el menu normal */

  .navbar-menu .menu {

    display: none;

  }

 

  /* Muestra el mini menu */

  .navbar-mini-menu {

    display: block;

  }

 

  /* Esconde la lista del mini menu */

  .navbar-mini-menu .mini-menu-options {

    display: none;

  }

 

}





.parent {

  display: grid;

  grid-template-columns: repeat(5, 1fr);

  grid-template-rows: repeat(5, 1fr);

  grid-column-gap: 0px;

  grid-row-gap: 0px;

  }

 

  .div1 { grid-area: 1 / 1 / 2 / 2; }

  .div2 { grid-area: 1 / 3 / 2 / 4; }

  .div3 { grid-area: 1 / 5 / 2 / 6; }

  .div4 { grid-area: 3 / 1 / 4 / 2; }

  .div5 { grid-area: 3 / 3 / 4 / 4; }

  .div6 { grid-area: 3 / 5 / 4 / 6; }

  .div7 { grid-area: 5 / 1 / 6 / 2; }

  .div8 { grid-area: 5 / 3 / 6 / 4; }

  .div9 { grid-area: 5 / 5 / 6 / 6; }

  .div10 { grid-area: 2 / 2 / 3 / 3; }

  .div11 { grid-area: 4 / 2 / 5 / 3; }

  .div12 { grid-area: 2 / 4 / 3 / 5; }

  .div13 { grid-area: 4 / 4 / 5 / 5; }





#smaller{

transform:scale(.5)

}



/* .card{

transform: scale(.5);

height: 50vh;

} */



.nachos img{

width: 200px;

height:200px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #211839;
opacity: 0.8;
background-image: linear-gradient(-45deg, #211839, #211839 50%, #3f2668 50%, #3f2668);
background-size: 9px 9px;
margin:0;


}



/*Pokemon card effect */

:root {

--color1: rgb(0, 231, 255);

--color2: rgb(255, 0, 231);

--back: url(./dog11petstore.jpg);

--charizard1: #fac;

--charizard2: #ddccaa;

--charizardfront: url(./dog11petstore.jpg);

--pika1: #54a29e;

--pika2: #a79d66;

--pikafront: url(./dog3petstore.jpg);

--eevee1: #efb2fb;

--eevee2: #acc6f8;

--eeveefront: url(./dog14petstore.jpg);

--mewtwo1: #efb2fb;

--mewtwo2: #acc6f8;

--mewtwofront: url(./dog13petstore.jpg);

}



.card-img-top{

height: 25vh;

}



.card {



width: 71.5vw;

height: 100vw;

  width: clamp(200px, 61vh, 18vw);

 height: clamp(280px, 85vh, 25.2vw);

@media screen and (min-width: 600px) {

 width: 61vh;

 height: 85vh;

   max-width: 500px;

 max-height: 700px;

  width: clamp(12.9vw, 61vh, 18vw);

  height: clamp(18vw, 85vh, 25.2vw);

}



position: relative;

overflow: hidden;

margin: 20px;

overflow: hidden;

z-index: 10;

touch-action: none;



border-radius: 5% / 3.5%;

box-shadow:

  -5px -5px 5px -5px var(--color1),

  5px 5px 5px -5px var(--color2),

  -7px -7px 10px -5px transparent,

  7px 7px 10px -5px transparent,

  0 0 5px 0px rgba(255,255,255,0),

  0 55px 35px -20px rgba(0, 0, 0, 0.5);



transition: transform 0.5s ease, box-shadow 0.2s ease;

will-change: transform, filter;



background-color: #040712;

background-image: var(--front);

background-size: cover;

background-repeat: no-repeat;

background-position: 50% 50%;

transform-origin: center;



}



.card:hover {

box-shadow:

  -20px -20px 30px -25px var(--color1),

  20px 20px 30px -25px var(--color2),

  -7px -7px 10px -5px var(--color1),

  7px 7px 10px -5px var(--color2),

  0 0 13px 4px rgba(255,255,255,0.3),

  0 55px 35px -20px rgba(0, 0, 0, 0.5);

}



.card.charizard {

--color1: var(--charizard1);

--color2: var(--charizard2);

--front: var(--charizardfront);

}

.card.pika {

--color1: var(--pika1);

--color2: var(--pika2);

--front: var(--pikafront);

}

.card.mewtwo {

--color1: var(--mewtwo1);

--color2: var(--mewtwo2);

--front: var(--mewtwofront);

}

.card.eevee {

--color1: #ec9bb6;

--color2: #ccac6f;

--color3: #69e4a5;

--color4: #8ec5d6;

--color5: #b98cce;

--front: var(--eeveefront);

}



.card:before,

.card:after {

content: "";

position: absolute;

left: 0;

right: 0;

bottom: 0;

top: 0;

background-repeat: no-repeat;

opacity: .5;

mix-blend-mode: color-dodge;

transition: all .33s ease;

}



.card:before {

background-position: 50% 50%;

background-size: 300% 300%;

background-image: linear-gradient(

  115deg,

  transparent 0%,

  var(--color1) 25%,

  transparent 47%,

  transparent 53%,

  var(--color2) 75%,

  transparent 100%

);

opacity: .5;

filter: brightness(.5) contrast(1);

z-index: 1;

}



.card:after {

opacity: 1;

background-image: url(https://assets.codepen.io/13471/sparkles.gif),

  url(https://assets.codepen.io/13471/holo.png),

  linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);

background-position: 50% 50%;

background-size: 160%;

background-blend-mode: overlay;

z-index: 2;

filter: brightness(1) contrast(1);

transition: all .33s ease;

mix-blend-mode: color-dodge;

opacity: .75;

}



.card.active:after,

.card:hover:after {

filter: brightness(1) contrast(1);;

opacity: 1;

}



.card.active,

.card:hover {

animation: none;

transition: box-shadow 0.1s ease-out;

}



.card.active:before,

.card:hover:before {

animation: none;

background-image: linear-gradient(

  110deg,

  transparent 25%,

  var(--color1) 48%,

  var(--color2) 52%,

  transparent 75%

);

background-position: 50% 50%;

background-size: 250% 250%;

opacity: .88;

filter: brightness(.66) contrast(1.33);

transition: none;

}



.card.active:before,

.card:hover:before,

.card.active:after,

.card:hover:after {

animation: none;

transition: none;

}



.card.animated {

transition: none;

animation: holoCard 12s ease 0s 1;

&:before {

  transition: none;

  animation: holoGradient 12s ease 0s 1;

}

&:after {

  transition: none;

  animation: holoSparkle 12s ease 0s 1;

}

}





@keyframes holoSparkle {

0%, 100% {

  opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);

}

5%, 8% {

  opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);

}

13%, 16% {

  opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);

}

35%, 38% {

  opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);

}

55% {

  opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);

}

}



@keyframes holoGradient {

0%, 100% {

  opacity: 0.5;

  background-position: 50% 50%;

  filter: brightness(.5) contrast(1);

}

5%, 9% {

  background-position: 100% 100%;

  opacity: 1;

  filter: brightness(.75) contrast(1.25);

}

13%, 17% {

  background-position: 0% 0%;

  opacity: .88;

}

35%, 39% {

  background-position: 100% 100%;

  opacity: 1;

  filter: brightness(.5) contrast(1);

}

55% {

  background-position: 0% 0%;

  opacity: 1;

  filter: brightness(.75) contrast(1.25);

}

}



@keyframes holoCard {

0%, 100% {

  transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);

}

5%, 8% {

  transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);

}

13%, 16% {

  transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);

}

35%, 38% {

  transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);

}

55% {

  transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);

}

}




.card.eevee:hover {

box-shadow:

  0 0 30px -5px white,

  0 0 10px -2px white,

  0 55px 35px -20px rgba(0, 0, 0, 0.5);

}

.card.eevee:hover:before,

.card.eevee.active:before {

background-image: linear-gradient(

  115deg,

  transparent 20%,

  var(--color1) 36%,

  var(--color2) 43%,

  var(--color3) 50%,

  var(--color4) 57%,

  var(--color5) 64%,

  transparent 80%

);

}





.demo .card {

background-image: var(--back);

font-size: 2vh

}

.demo .card > span {

position: relative;

top: 45%;

}



.demo .card:nth-of-type(1),

.demo .card:nth-of-type(2),

.demo .card:nth-of-type(3) {

width: 20vh;

height: 27.5vh;

box-shadow: inset 0 0 0 1px rgba(white,0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);

animation: none;

}



.demo .card:nth-of-type(1),

.demo .card:nth-of-type(2),

.demo .card:nth-of-type(3) {

&:before, &:after {

  animation: none;

  // opacity: 1;

}

}

.demo .card:nth-of-type(1) {

&:before, &:after { display: none; }

}

.demo .card:nth-of-type(2) {

background: none;

&:before { display: none; }

}

.demo .card:nth-of-type(3) {

background: none;

&:after { display: none; }

}



.operator {

display: inline-block;

vertical-align: middle;

font-size: 6vh;

}







html, body {

height: 100%;

background-color: #333844;

padding: 0;

z-index: 1;

transform: translate3d(0,0,0.1px);

}

body {

color: white;

background-color: #333844;

font-family: "Heebo", sans-serif;

text-align: center;

}

h1 {

display: block;

margin: 30px 0;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {

margin-top: 5px;

font-weight: 200;

}

#app {

position: relative;

}



.demo,

.cards {

display: flex;

flex-direction: column;

align-items: center;

justify-content: space-evenly;

perspective: 2000px;

position: relative;

z-index: 1;

transform: translate3d(0.1px, 0.1px, 0.1px )

}

.demo {

flex-direction: row;

justify-content: center;

}



@media screen and (min-width: 600px) {

.cards {

  flex-direction: row;

}

}







.cards .card {

&:nth-child(2) {

  &, &:before, &:after {

    animation-delay: 0.25s;

  }

}

&:nth-child(3) {

  &, &:before, &:after {

    animation-delay: 0.5s;

  }

}

&:nth-child(4) {

  &, &:before, &:after {

    animation-delay: 0.75s;

  }

}

}



/* Pokemon card effect end effect */



.noodles1{



}




#sushi{

background-color:#b3b3e1;
font-size:22px;
font-weight:bold;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.dropdown-menu{

background-color: #6c3296;
font-weight: bold;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.takis{
  background-color:#d33cf2;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}



.doritos{

text-align: center;
text-justify: center;
align-content: center;
margin: 40px;
font-family: 'Courier New', Courier, monospace;
}



.burrito{

display: grid;

grid-column-start: auto;

align-items: column;



}



.tofu{

/*display:flex;
align-content: flex-start;
justify-content: left;*/
background-color: #040712;
font-family: 'Courier New', Courier, monospace;
width:300px;
box-shadow: #000;

}



#dogMarket{
  display: flex;
  flex-wrap: wrap;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}
#catMarket{
  display:flex;
  flex-wrap: wrap;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}
#fishMarket{
  display:flex;
  flex-wrap: wrap;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}

/* .dogs{

width: 25%;

} */

.nachos{
  display:grid;
  align-content: center;
  justify-content: end;
  grid-template-columns:100%;
  grid-template-rows: auto;
  font-family: 'Courier New', Courier, monospace;
  margin:0;

  
}


.bbq{
  width:250px;
  display:flex;
  border-style: solid;
  border-radius: .3rem;
  border-width: .4rem;
  border-color: #3f2668;
}



.chorizo{
  display: grid;
  grid-template-columns:70%;
  align-content: flex-end;
  justify-content: right;
  font-family: 'Courier New', Courier, monospace;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
/*.basmati{
  background-color: #AFEF49;
  opacity: 0.8;
  background-image: linear-gradient(45deg, #22442B 50%, #AFEF49 50%);
  background-size: 10px 10px;
  background-blend-mode:soft-light;
}*/
.guac{
  display: grid;
  grid-template-columns: 70%;
  align-items: flex-start;
  color:#b3b3e1;
  
}

.cake{
  border-style: solid;
  border-width: .4rem;
  border-radius: .3rem;
  border-color: #211839;
}


/*#two{
  display: grid;
  align-self: flex-end;
  justify-content: right;
  grid-template-columns: 50%;

}

/*#three{
  display: grid;
  align-content: flex-start;
  justify-content: right;
  grid-template-columns: 50%;
}*/

.pita{
  display: flex;
  align-content: flex-end;
  justify-self: right;
  flex-direction: column;
  width: 60%;
  font-size: 20px;
  margin-top: 20px;
  padding:0;
  color:#b3b3e1;
}

.snickers{
  width: 500px;
  display:flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border-style: solid;
  border-color:#444c6c;
  border-width: 8px;

}

.mochi{
  color:#1b1d46;
}

banner{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:18px;
}

p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dash{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-display: stretch;
  color:#b3b3e1; 
  
}

.bourbon{
 color:white;
}
p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.apples{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.card-text{
  background: #000;
}

.gum{
  width:100px;

}

.text-center{
display: flex;

}

#TextBox{
  /*text-overflow: hidden;*/
  overflow-x: hidden;
}
/*input[type="text"]{
  width: 407px;
  align-content: center;
}*/

/*.form-control{
  width:80%;
  margin: auto;
}*/

/*#TextBox1{
  width:210px;
}*/


/* Media queries for Contact page */
/*@media (min-width: 913px){
  input[type="text"]{
    width:400px;
    align-content: center;
}

}*/


/*@media (max-width: 1280px){
  input[type="text"]{
    width:607px;
    align-content: center;
}

}*/
@media (max-width: 1024px){
  input[type="text"]{
    width:80vw;
    align-content: center;
}

}




/*@media (max-width: 912px){ 
  .guac{
    grid-template-columns: 100%;
  }
  iframe{
    width:700px;
    margin-top: 10px;
    align-content: center;
  }
  /*input[type="text"]{
    width:425px;
    align-content: center;
}*/
  
  
  /*@media (max-width: 820px){
    input[type="text"]{
      width:377px;
      align-content: center;
  }
  
  }

}*/
  @media (max-width: 768px){
    iframe{
      width:600px;
      margin-top: 10px;
    align-content: center;
    }
    input[type="text"]{
      width:350px;
      align-content: center;
  }

  }

  /*@media (max-width: 540px){
    iframe{
      width:400px;
      margin-top: 10px;
    align-content: center;
    }
    h3{
     font-size:20px;
    }
    article{
      font-size:18px;
    }
    .guac{
      grid-template-columns: 80%;
    }
    /*input[type="text"]{
      width:238px;
      align-content: center;
  }

  }*/
  /*@media (max-width: 414px){
    input[type="text"]{
      width:150px;
      align-content: center;
  }
  
  }*/



  /*@media (max-width: 412px){
    iframe{
      width:300px;
      margin-top: 10px;
    align-content: center;
    }
    address{
      font-size: 16px;
      font-stretch: expanded;
      
    }
    .guac{
      grid-template-columns: 85%;
    }
    article{
      font-size:18px;
      align-content: center;
    }
    /*input[type="text"]{
      width:100px;
      align-content: center;
  }

  }*/

  /*@media (max-width: 360px){
    iframe{
      width: fit-content;
      align-content: center;
    }
    .guac{
      grid-template-columns: 50%;
    }
    article{
      font-size:18px;
      align-content: center;
      width:65vh;
    }
    h3{
      font-size:18px;
    
  }
}*/

@media (max-width: 320px){
  input[type="text"]{
    width:125px;
    align-content: center;
}

}




/* End of Media queries for Contact page */